@font-face {
  font-family: 'Noto Sans';
  src: url('./../fonts/NotoSans-VariableFont.ttf') format('truetype-variations');
  font-weight: 100 900; // Variable weight range
  font-stretch: 62.5% 100%; // Width axis (important!)
  font-style: normal;
  font-display: swap;
}
