@use 'variables' as *;
@use 'media' as *;

.header {
  display: block;
  width: 100%;

  &__content-wrapper {
    position: relative;
    width: 100%;
    height: 274px;
    background: url('./../images/header/bg-header.png') center/cover no-repeat;

    @include media-up(ssm) {
      height: 236px;
    }
    @include media-up(sm) {
      height: 276px;
    }
    @include media-up(md) {
      height: 340px;
    }
    @include media-up(lg) {
      height: 396px;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: #010101;
      z-index: -1;
    }
  }

  &__content-mask {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
  }

  &__mask-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(1, 1, 1, 0.6);
      z-index: 1;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__content-heading-wrapper {
    width: 100%;
    max-width: 290px;
    padding-inline: 15px;

    @include media-up(ssm) {
      max-width: 450px;
    }
    @include media-up(sm) {
      max-width: 460px;
    }
    @include media-up(md) {
      max-width: 617px;
    }
    @include media-up(lg) {
      max-width: 750px;
    }
  }

  &__content-heading {
    color: $clr-light;
    font-weight: 700;
    font-size: 46px;
    line-height: 48px;
    letter-spacing: 1px;
    text-align: center;

    @include media-up(md) {
      font-size: 54px;
      line-height: 60px;
      letter-spacing: 1.2px;
    }

    @include media-up(lg) {
      font-size: 62px;
      line-height: 68px;
      letter-spacing: 1.4px;
    }
  }
}
