@use 'variables' as *;
@use 'media' as *;

h1 {
  color: $clr-light;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 46px; // default mobile
  line-height: 1.05; // line-height: 48px; / font-size: 46px; = 1.04347
  letter-spacing: 1px;
  text-align: center;

  @include media-up(md) {
    font-size: 54px;
    line-height: 1.1; // line-height: 60px; / font-size: 54px; = 1.1111
    letter-spacing: 1.2px;
  }

  @include media-up(lg) {
    font-size: 62px;
    line-height: 1.1; // line-height: 68px; / font-size: 62px; = 1.0967
    letter-spacing: 1.4px;
  }
}
