@use 'variables' as *;
@use 'media' as *;

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul li,
a {
  font-family: $font-primary;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; // line-height: 26px; / font-size: 16px; = 1.625
  letter-spacing: 0.8px;
}

p:first-child {
  margin-top: 12px;
}

p:not(:last-child) {
  margin-bottom: 12px;
}
