/* Color */
$clr-light: rgba(255, 255, 255, 1);
$clr-dark: rgba(1, 1, 1, 1);
$clr-blue-light: rgba(0, 182, 221, 1);
$clr-blue-dark: rgba(8, 21, 128, 1);

/* Font */
$font-primary: 'Noto Sans', sans-serif;

/* Padding */
$padding-block-lg: 100px;
$padding-block-md: 80px;
$padding-block-sm: 60px;
$padding-block-ssm: 50px;
$padding-block-xs: 50px;

$padding-inline-lg: 30px;
$padding-inline-md: 26px;
$padding-inline-sm: 24px;
$padding-inline-ssm: 15px;
$padding-inline-xs: 15px;
$padding-md: 30px;
$padding-sm: 28px;
$padding-xs: 16px;

/* Gap */
$gap-lg: 30px;
$gap-xs: 16px;

/* Max-width */
$max-width: 1200px;
